
* {font-family: Open Sans, sans-serif;}

h1 {font-family: Ubuntu, cursive;}
h2 {font-family: Ubuntu, cursive;}
strong {font-family: Ubuntu, cursive;}

body 
{ 
    margin: 0;
}

.fl {float:left}
.fl2 {float:left; height:140px;}
.widHead {margin: auto; width:640px; text-align:center;}

h1 {
    color:#09b82a;
    font-size:26px;
    text-transform: uppercase;
    margin-top: 0px;
}

h2 { color:#09b82a; font-size:22px; }

p { font-size:18px; }

strong 
{
    color:#09b82a;
    font-size:22px;
}

header 
{ 
    background-color: #09b82a;
    padding: 15px;
    min-height:156px;
    font-weight:bold;
}

header img { height: 140px;}

nav 
{ 
    width: 365px; 
    margin: auto; 
}

nav ul 
{ 
    padding: 0; 
    margin:0px; 
    width:366px;
    margin: 64px 0;
    text-align: center;
}    

nav ul li 
{ 
    display: inline-block; 
    text-align: center;
    padding: 0 7px;
    margin-right: 5px;
}

nav ul li a {color:#ffffff; text-transform: uppercase; text-decoration:none;}
nav ul li a:hover {text-decoration:underline;}

.l1 {margin-right:40px;}

section
{ 
    width: 940px; 
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
}

footer 
{ 
    padding: 15px;
    text-align: center;
    background: url(../images/bg.png);
    border-top: 4px solid #09b82a;
}

footer img { height: 150px; }

#vid 
{
    height: 506px;
    width: 900px;
}

/*Contato*/

fieldset
{
    border-radius:10px; 
    border: solid 3px #069620;
    padding: 15px;
    padding-left:35px;
    box-sizing:border-box;
}

legend 
{
    font-size:20px; color:#069620;
    border: solid 3px #069620;
    border-radius: 10px;
    padding:3px;
    background-color: #fff;
}

label {font-size:14pt;}

input 
{
    border: solid 2px #069620;
    border-radius:4px;
}

input:focus 
{
    outline:none;
}

textarea 
{
    resize:none;
    width:75%;
    height:120px;
    border: solid 2px #09b82a;
    border-radius:4px;
    padding:5px;
}

textarea:focus 
{
    outline:none;
}

#txtArea {width:50%;}

.txtDados {margin-right:44px;}

.legInt {margin-left:-20px;}

#fieldPai 
{
    background-color: #09b82a;
    padding:10px;
}

.fieldFilho 
{
    background-color:#fff;
}

#txtdep {float:left; margin-right:5px;}

#txtDep 
{
    height: 140px;
    width: 500px;
}

#map 
{
    border: solid 3px #069620;
    border-radius:7px;
    width: 904px;
    height:450px;
    margin-bottom:50px;
}


#map iframe 
{
    width:100%;
    height:100%;
}

#secI iframe {display:block; margin:auto;}

/*Produtos*/

table 
{
    width:425px;
    background-color:#09b82a;
}

table td {padding:2px 8px;}

table tr {background-color:#fff;}

table tr th 
{
    color:#fff; 
    background-color:#09b82a;
    padding: 0 3px;
    height:21px;
} 

.stTab 
{
    float:left;
    margin: 0 15px;
    height: 217px;
}

.stTab2 
{
    float:left;
    margin:30px 235px 0 245px;
}

.spc {height: 440px;}

#cão 
{
    position:absolute;
    left:5%;
    top: 572px;
    height: 290px;
}

#ração1 
{
    height: 234px;
    position: absolute;
    right: 5%;
    top: 600px;
}

#gato
{
    position:absolute;
    left: 2%;
    top: 1270px;
    height: 163px;
}

#ração2 
{
    height: 205px;
    position: absolute;
    right: 4%;
    top: 1252px;
}

/*Profissionais*/

.photos img 
{
    border: solid 4px #09b82a;
    border-radius:10px;
    width:350px;
    height:250px;
}

.photos p 
{
    margin: 3px 0;
}

.photos div 
{
    width:358px;
    height:300px;
    text-align:center;
    margin:0 65px;
}

#ft2 
{
    float:right;
    position:relative;
    left: 8px;
    bottom: 300px;
}

#ft4
{
    position:relative;
    bottom:215px;
}

#ft5 
{
    float:right;
    position:relative;
    left: 8px;
    bottom: 215px;
}

#spc2 
{
    height:251px;
}

/*Cabeçalho*/

.ull 
{
    padding:66px 0;
    margin-left: -20px;
    width: 500px;
}

.img1 
{
    padding-right:10px;  
}

.imge
{
    position:relative;
    right: 340px;
}

.text 
{
    position:absolute;
    left: 37%;
    top: 15px;
}

/*Celular em Pé*/

@media screen and (max-width:500px)
{
    /*Cabeçalho*/

    header
    {
        font-size:15px;
        box-sizing:border-box;
    }

    .widHead 
    {
        width:330px;
        font-weight:bold;
    }
    
    .fl 
    {
        float:none;
    }
    
    .fl2 
    {
        float:none;
    }

    header img {margin:auto;}

    nav {width:100%}

    nav ul 
    {
        width:330px;
        margin:0;
    }

    section 
    {
        width:340px;
    }

    /*Index*/

    .secI 
    {
        width:340;
        height:191;
    }

    .secI iframe {width:100%}

    #vid {width:320px; height:181px; }

    /*Profissionais*/

    .photos img 
    {
        border: solid 4px #09b82a;
        border-radius:10px;
        width:300px;
        height:200px;
    }

    .photos p 
    {
        margin: 3px 0;
        font-size:15px;
    }

    #ft1, #ft2, #ft5, #ft4
    {
        width:308px;
        height:290px;
        position:static;
        float:none;
        text-align:center;
        margin:0 65px;
        margin:auto;
    }

    #spc2 {height:0px;}

    /*Produtos*/

    .tabela img {height:0; width:0;}

    table 
    {
        font-size:12px;
    }

    .prc 
    {
        width:51px;
    }

    .peso
    {
        width:42px;
    }

    .stTab 
    {
        float:none;
        margin:0;
        margin-bottom: 30px;
        width:310px;
    }

    .stTab2 
    {
        float:none;
        margin:0;
        width:310px;
    }

    .spc 
    {
        height:0px;
    }

    table td 
    {
        padding: 4px;
    }

    /*Contato*/

    form label
    {
        font-size: 17px;
    }

    #area 
    {
        width:85%;
    }

    #txtArea 
    {
        width:85%;
    }

    #map 
    {
        width: 304px;
        height:200px;
    }

}

/*Celular Deitado*/

@media screen and (min-width:501px) and (max-width:750px)
{

    /*Index*/

    header {box-sizing: border-box; width:100%;}

    .widHead {width:550px; font-weight:bold}

    section {width:100%}

    #vid 
    {
        width:600px;
        height:337px;
    }

    /*Profissionais*/

    .photos img 
    {
        border: solid 4px #09b82a;
        border-radius:10px;
        width:300px;
        height:200px;
    }

    .photos p
    {
        margin: 3px 0;
        font-size:15px;
    }

    #ft1, #ft2, #ft5, #ft4
    {
        width:308px;
        height:290px;
        position:static;
        float:none;
        text-align:center;
        margin:0 65px;
        margin:auto;
    }

    #spc2 {height:0px;}

    /*Produtos*/

    table 
    {
        font-size:12px;
    }

    table td 
    {
        padding: 2px;
    }

    .tabela img {height:0; width:0;}

    .prc 
    {
        width:51px;
    }

    .peso
    {
        width:42px;
    }

    .stTab 
    {
        float:none;
        margin:0;
        width:310px;
        margin:auto;
        margin-bottom: 30px;
    }

    .stTab2 
    {
        float:none;
        margin:0;
        width:310px;
        margin:auto;
    }

    .spc 
    {
        height:0px;
    }


    /*Contato*/

    .txtDados 
    {
        margin-bottom:5px;
    }

    #area 
    {
        width:93%;
    }

    #txtArea 
    {
        width:93%;
    }

    #map 
    {
        width: 603px;
        height: 220px;
        margin:auto;
    }

}